In [1]:
import pandas as pd
import sqlite3

In [20]:
db = sqlite3.connect('Olivia.db')
dfs = pd.read_sql('select * from Transactions', db)
print(dfs)

DatabaseError: Execution failed on sql 'select * from Transactions': no such table: Transactions

In [19]:
sql_buy = f"select Number from Transactions where (Equity_Name={equity_name} and Type='Buy' ) "
dfbuy = pd.read_sql(sql_buy, db).sum()

NameError: name 'db' is not defined

In [32]:
db = sqlite3.connect('All_Customers.db')
sql_select_table = f"SELECT * FROM All_Customer_Details "
dfreadtable= pd.read_sql(sql_select_table, db)
if len(dfreadtable['Name'].str.contains['Olivia'])>0: #and dfreadtable['Dob'].str.contains['1985-12-19']:
    print('Olivia is here')

TypeError: 'method' object is not subscriptable

In [75]:
db = sqlite3.connect('All_Customers.db')
sql_select_table = f"SELECT * FROM All_Customer_Details "
dfrt= pd.read_sql(sql_select_table, db)
if all([dfrt['Name'].str.contains('Olivia')]  and dfrt[dfrt['Name'].str.contains('Olivia')]['Dob']=='1985-12-19'):
    print('Olivia is here')
# dfrt["Name"].str.contains('o')

Olivia is here

In [72]:
if dfrt[dfrt['Name'].str.contains('Olivia')]['Name'] =='Olivia':
    print("olivia")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [74]:
dfrt[dfrt['Name'].str.contains('Olivia')]['Dob']=='1985-12-19'

11    True
Name: Dob, dtype: bool

In [73]:
dfrt[dfrt['Name'].str.contains('Olivia')]['Name']

11    Olivia
Name: Name, dtype: object